<a href="https://colab.research.google.com/github/jonathanahc/Proyecto/blob/main/ProyectoProgADAP_255497NvaVersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto de Programación para Analítica Descriptiva y Predictiva**
## Nombre del Proyecto: Consumo y Costo del Agua en Nueva York
## Grupo: A
## Autor: Jonathan Adrian Herrera Castro
## Matrícula: 255497
## Fecha: 08/03/2025

# **1. Introducción**

## **- Descripción del problema:** el objetivo de este análisis es examinar el consumo de agua en la ciudad de Nueva York y su costo asociado, con el fin de identificar tendencias y algunos factores que influyen en su variación. Se analizarán patrones de consumo en distintas zonas y sectores de febrero del 2013 hasta 2023.

## **- Objetivo del análisis:** comprender el consumo y costo del agua en Nueva York para identificar patrones y factores que afectan su variabilidad. Este análisis tiene como impacto en el tema de la optimización el uso del agua, la planificación de tarifas y establecer algunas estrategias de sostenibilidad.

## **- Fuente de datos:** los datos utilizados en este análisis provienen de NYC Open Data, una plataforma que ofrece bases de datos de acceso público. La información fue proporcionada por la Autoridad de Vivienda de la Ciudad de Nueva York (NYCHA, por sus siglas en inglés).

# **2. Información General del Conjunto de Datos**

El conjunto de datos sobre el consumo y costo del agua en Nueva York pertenece a la categoría de gestión de recursos hídricos urbanos, que abarca el análisis y control de la distribución de agua potable y la fijación de tarifas. Los datos recopilados incluyen información sobre el volumen de agua consumido en diferentes áreas de la ciudad, las tarifas establecidas para los consumidores, patrones de consumo y variaciones de precios. La fuente principal de estos datos es la Autoridad de Vivienda de la Ciudad de Nueva York (NYCHA, por sus siglas en inglés), los informes y los datos sobre el consumo de agua se publican anualmente y están disponibles al público en su sitio web oficial.

El enlace para acceder a la base de datos es:
[Water Consumption And Cost (2013 - Feb 2025)](https://data.cityofnewyork.us/Housing-Development/Water-Consumption-And-Cost-2013-Feb-2025-/66be-66yr/about_data)

Estos datos se pueden encontrar en formato CSV lo cual facilita su acceso y análisis y son utilizados para diversos fines como el análisis - planificación de políticas públicas, gestión - mantenimiento de infraestructura y para pronósticos y ajustes tarifarios.

#**3. Descripción del Conjunto de Datos**

Como primera fase, se emplearon diversas librerías para facilitar el proceso de carga del archivo CSV. La primera librería utilizada fue google.colab, la cual establece la conexión a la carpeta Drive donde se encuentra almacenado el archivo. Además, se importaron las librerías Pandas y Re para interactuar con los datos.

In [155]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import re

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Con esta sentencia, se cargó el archivo CSV en un dataframe sin presentar inconvenientes durante el proceso.

In [156]:
df = pd.read_csv('/content/drive/MyDrive/ProyectoProgramacion/Water_Consumption_And_Cost__2013_-_Feb_2023__20250216.csv', engine="python")

Una vez cargado el archivo, se validó que los datos se mostrarán correctamente.

In [157]:
df.head(3)

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,HOWARD AVENUE,BROOKLYN,HOWARD AVENUE,BLD 02,AMR,NaN,339.0,782,K033900,FEDERAL,...,04/23/2020,31.0,E11310572,N,2945.22,Basic Water and Sewer,Yes,285,2945.22,0.0
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,01/26/2020,34.0,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0.0
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,02/24/2020,29.0,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0.0

Utilizando la función Shape, se realizó un conteo del número de filas y columnas del dataframe.

In [158]:
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

Filas: 50315, Columnas: 25

Después del conteo, se utilizó la función Info con la cual se obtuvó la información sobre las columnas, incluyendo el nombre y el tipo de dato de cada una.

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50315 entries, 0 to 50314
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Development Name     50255 non-null  object
 1   Borough              50315 non-null  object
 2   Account Name         50315 non-null  object
 3   Location             49487 non-null  object
 4   Meter AMR            49805 non-null  object
 5   Meter Scope          12782 non-null  object
 6   TDS #                50255 non-null  float64
 7   EDP                  50315 non-null  int64
 8   RC Code              50315 non-null  object
 9   Funding Source       50239 non-null  object
 10  AMP #                50193 non-null  object
 11  Vendor Name          50315 non-null  object
 12  UMIS BILL ID         50315 non-null  int64
 13  Revenue Month        50315 non-null  object
 14  Service Start Date   50308 non-null  object
 15  Service End Date     50308 non-null  object
 16  # days               50308 non-null  float64
 17  Meter Number         50315 non-null  object
 18  Estimated            50315 non-null  object
 19  Current Charges      50315 non-null  float64
 20  Rate Class           50279 non-null  object
 21  Bill Analyzed        50315 non-null  object
 22  Consumption (HCF)    50315 non-null  int64
 23  Water&Sewer Charges  50315 non-null  float64
 24  Other Charges        50315 non-null  float64
dtypes: float64(5), int64(3), object(17)
memory usage: 9.6+ MB

Finalment, la función Describe proporcionó un resumen estadístico de cada columna.

In [160]:
df.describe(include='all')

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
count,50255,50315,50315,49487,49805,12782,50255.000000,50315.000000,50315,50239,...,50308,50308.000000,50315,50315,50315.000000,50279,50315,50315.000000,50315.000000,50315.000000
unique,110,7,117,305,3,59,NaN,NaN,114,6,...,1114,NaN,795,2,NaN,5,2,NaN,NaN,NaN
top,FHA REPOSSESSED HOUSES (GROUP V),FHA,FHA REPOSSESSED HOUSES (GROUP V),BLD 01,AMR,Community Center,NaN,NaN,Q026000,FEDERAL,...,03/24/2019,NaN,UN-METERED,N,NaN,Basic Water and Sewer,Yes,NaN,NaN,NaN
freq,4765,23460,4759,4459,43782,1228,NaN,NaN,4765,45346,...,594,NaN,179,41499,NaN,50175,49235,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,258.871794,463.205764,NaN,NaN,...,NaN,33.182953,NaN,NaN,2150.221066,NaN,NaN,224.291066,2140.327436,9.893631
std,NaN,NaN,NaN,NaN,NaN,NaN,101.467018,185.109210,NaN,NaN,...,NaN,53.181840,NaN,NaN,5623.852543,NaN,NaN,2020.962056,5619.812518,607.714232
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,200.000000,NaN,NaN,...,NaN,-335.000000,NaN,NaN,-1748.510000,NaN,NaN,0.000000,0.000000,-67726.830000
25%,NaN,NaN,NaN,NaN,NaN,NaN,209.000000,325.000000,NaN,NaN,...,NaN,29.000000,NaN,NaN,46.460000,NaN,NaN,5.000000,46.360000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,273.000000,396.000000,NaN,NaN,...,NaN,30.000000,NaN,NaN,197.360000,NaN,NaN,26.000000,196.350000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,338.000000,637.000000,NaN,NaN,...,NaN,32.000000,NaN,NaN,2598.415000,NaN,NaN,236.000000,2575.520000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,559.000000,999.000000,NaN,NaN,...,NaN,6968.000000,NaN,NaN,392036.460000,NaN,NaN,434200.000000,392036.460000,77796.690000

# **4. Limpieza y Transformación del Conjunto de Datos**

***Normalización de Nombres de Columnas***

Como primer paso en el proceso de normalización, se presentó una visión general de todas las columnas del DataFrame.

In [161]:
df.columns

Index(['Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR',
       'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #',
       'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date',
       'Service End Date', '# days', 'Meter Number', 'Estimated',
       'Current Charges', 'Rate Class', 'Bill Analyzed', 'Consumption (HCF)',
       'Water&Sewer Charges', 'Other Charges'],
      dtype='object')

A continuación, se identificaron las columnas que contenían caracteres especiales o espacios en blanco mediante una expresión regular..

In [162]:
for col in df.columns:
    if re.search(r'[^\w\s]', col) or re.search(r'\s', col):
      print(col)

Development Name
Account Name
Meter AMR
Meter Scope
TDS #
RC Code
Funding Source
AMP #
Vendor Name
UMIS BILL ID
Revenue Month
Service Start Date
Service End Date
# days
Meter Number
Current Charges
Rate Class
Bill Analyzed
Consumption (HCF)
Water&Sewer Charges
Other Charges

Tras identificar las columnas, se procedió a su normalización mediante una expresión regular, lo que realizar esta expresión es reemplazar todos los caracteres que no sean alfanuméricos por una cadena vacía. Además, se aplicó la función lower() para convertir todos los nombres de las columnas a minúsculas.

In [163]:
df.columns = df.columns.str.lower().str.replace(r"\W+", "", regex=True)

Una vez completada la normalización, se verificaron los nombres de todas las columnas.

In [164]:
df.columns

Index(['developmentname', 'borough', 'accountname', 'location', 'meteramr',
       'meterscope', 'tds', 'edp', 'rccode', 'fundingsource', 'amp',
       'vendorname', 'umisbillid', 'revenuemonth', 'servicestartdate',
       'serviceenddate', 'days', 'meternumber', 'estimated', 'currentcharges',
       'rateclass', 'billanalyzed', 'consumptionhcf', 'watersewercharges',
       'othercharges'],
      dtype='object')

***Limpieza, Transformación y Normalización de Datos Temporales***

En esta sección, se trabajó con los datos temporales. Primero, la columna revenuemonth se convirtió al tipo Datetime, respetando el mismo formato presente en el archivo CSV.

In [165]:
df['revenuemonth'] = pd.to_datetime(df['revenuemonth'], format='%Y-%m')

A continuación, las columnas servicestartdate y serviceenddate se convirtieron al tipo Datetime, respetando el formato del archivo CSV.

Además, se implementó una estrategia para manejar los valores nulos, la cual consistió en reemplazarlos por NaT, ya que no se observa una secuencia en los valores de dichas columnas.

In [166]:
df['servicestartdate'] = pd.to_datetime(df['servicestartdate'], format='%m/%d/%Y', errors="coerce")
df['serviceenddate'] = pd.to_datetime(df['serviceenddate'], format='%m/%d/%Y', errors="coerce")

Por último, se verificó el nuevo tipo de datos en las columnas.

In [167]:
df.dtypes

developmentname              object
borough                      object
accountname                  object
location                     object
meteramr                     object
meterscope                   object
tds                         float64
edp                           int64
rccode                       object
fundingsource                object
amp                          object
vendorname                   object
umisbillid                    int64
revenuemonth         datetime64[ns]
servicestartdate     datetime64[ns]
serviceenddate       datetime64[ns]
days                        float64
meternumber                  object
estimated                    object
currentcharges              float64
rateclass                    object
billanalyzed                 object
consumptionhcf                int64
watersewercharges           float64
othercharges                float64
dtype: object

***Corrección de Tipos de Datos y Manejo de Datos Perdidos***

Para el proceso de corrección de tipos de datos, primero se presentó una visión general del tipo de dato en cada columna.

In [168]:
df.dtypes

developmentname              object
borough                      object
accountname                  object
location                     object
meteramr                     object
meterscope                   object
tds                         float64
edp                           int64
rccode                       object
fundingsource                object
amp                          object
vendorname                   object
umisbillid                    int64
revenuemonth         datetime64[ns]
servicestartdate     datetime64[ns]
serviceenddate       datetime64[ns]
days                        float64
meternumber                  object
estimated                    object
currentcharges              float64
rateclass                    object
billanalyzed                 object
consumptionhcf                int64
watersewercharges           float64
othercharges                float64
dtype: object

Además de verificar el tipo de cada columna, se comprobó la presencia de datos perdidos en ellas.

In [169]:
df.isnull().sum()

developmentname         60
borough                  0
accountname              0
location               828
meteramr               510
meterscope           37533
tds                     60
edp                      0
rccode                   0
fundingsource           76
amp                    122
vendorname               0
umisbillid               0
revenuemonth             0
servicestartdate         7
serviceenddate           7
days                     7
meternumber              0
estimated                0
currentcharges           0
rateclass               36
billanalyzed             0
consumptionhcf           0
watersewercharges        0
othercharges             0
dtype: int64

Después de revisar los valores nulos se procedió con la corrección de los tipos de datos. Primero, las columnas tds y days fueron convertidas a tipo Int, ya que contienen únicamente valores enteros.

Para los valores nulos, se aplicó la estrategia de interpolación, dado que los datos siguen una secuencia lógica, lo que permite estimar los valores faltantes en función de sus vecinos.

In [170]:
df['tds'] = df['tds'].interpolate().astype(int)
df['days'] = df['days'].interpolate().astype(int)

Las columnas rccode, amp, meternumber, estimated y billanalyzed fueron convertidas al tipo Str.

En particular, la columna amp contenía valores nulos, por lo que se aplicó una estrategia para su tratamiento. Se optó por reemplazarlos con la moda (el valor más frecuente), dado que los datos presentaban un término recurrente, lo que permitió deducir que dicho valor era el más adecuado.

In [171]:
moda = df['amp'].mode()[0]

df['rccode'] = df['rccode'].astype(str)
df['amp'] = df['amp'].fillna(moda).astype(str)
df['meternumber'] = df['meternumber'].astype(str)
df['estimated'] = df['estimated'].astype(str)
df['billanalyzed'] = df['billanalyzed'].astype(str)

Finalmente, las columnas restantes de tipo object fueron convertidas a category para optimizar el uso de memoria.

En cuanto a los valores nulos, se aplicó la estrategia de imputación por moda, ya que cada columna contenía un término recurrente, considerado el valor más probable para reemplazar los datos perdidos.

In [172]:
columnas = df.select_dtypes(include=['object']).columns

for col in columnas:
    moda = df[col].mode()[0]
    df[col] = df[col].fillna(moda).astype('category')

Después de haber realizado el proceso de la corrección y limpieza, se verificó el nuevo tipo de dato en las columnas.

In [173]:
df.dtypes

developmentname            category
borough                    category
accountname                category
location                   category
meteramr                   category
meterscope                 category
tds                           int64
edp                           int64
rccode                     category
fundingsource              category
amp                        category
vendorname                 category
umisbillid                    int64
revenuemonth         datetime64[ns]
servicestartdate     datetime64[ns]
serviceenddate       datetime64[ns]
days                          int64
meternumber                category
estimated                  category
currentcharges              float64
rateclass                  category
billanalyzed               category
consumptionhcf                int64
watersewercharges           float64
othercharges                float64
dtype: object

Además, se realizó una nueva validación de los valores nulos.

Cabe destacar que en las columnas servicestartdate y serviceenddate, los valores nulos se representan como NaT.

In [174]:
df.isnull().sum()

developmentname      0
borough              0
accountname          0
location             0
meteramr             0
meterscope           0
tds                  0
edp                  0
rccode               0
fundingsource        0
amp                  0
vendorname           0
umisbillid           0
revenuemonth         0
servicestartdate     7
serviceenddate       7
days                 0
meternumber          0
estimated            0
currentcharges       0
rateclass            0
billanalyzed         0
consumptionhcf       0
watersewercharges    0
othercharges         0
dtype: int64

Así quedó el DataFrame con los cambios realizados.

In [175]:
df.head()

,developmentname,borough,accountname,location,meteramr,meterscope,tds,edp,rccode,fundingsource,...,serviceenddate,days,meternumber,estimated,currentcharges,rateclass,billanalyzed,consumptionhcf,watersewercharges,othercharges
0,HOWARD AVENUE,BROOKLYN,HOWARD AVENUE,BLD 02,AMR,Community Center,339,782,K033900,FEDERAL,...,2020-04-23,31,E11310572,N,2945.22,Basic Water and Sewer,Yes,285,2945.22,0.0
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,2020-01-26,34,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0.0
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,2020-02-24,29,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0.0
3,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,2020-03-23,28,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0.0
4,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,2020-04-23,31,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0.0

In [176]:
df.describe(include='all')

,developmentname,borough,accountname,location,meteramr,meterscope,tds,edp,rccode,fundingsource,...,serviceenddate,days,meternumber,estimated,currentcharges,rateclass,billanalyzed,consumptionhcf,watersewercharges,othercharges
count,50315,50315,50315,50315,50315,50315,50315.000000,50315.000000,50315,50315,...,50308,50315.000000,50315,50315,50315.000000,50315,50315,50315.000000,50315.000000,50315.000000
unique,110,7,117,305,3,59,NaN,NaN,114,6,...,NaN,NaN,795,2,NaN,5,2,NaN,NaN,NaN
top,FHA REPOSSESSED HOUSES (GROUP V),FHA,FHA REPOSSESSED HOUSES (GROUP V),BLD 01,AMR,Community Center,NaN,NaN,Q026000,FEDERAL,...,NaN,NaN,UN-METERED,N,NaN,Basic Water and Sewer,Yes,NaN,NaN,NaN
freq,4825,23460,4759,5287,44292,38761,NaN,NaN,4765,45422,...,NaN,NaN,179,41499,NaN,50211,49235,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,258.734473,463.205764,NaN,NaN,...,2017-11-07 20:14:14.703029504,33.200079,NaN,NaN,2150.221066,NaN,NaN,224.291066,2140.327436,9.893631
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,200.000000,NaN,NaN,...,2013-01-14 00:00:00,-335.000000,NaN,NaN,-1748.510000,NaN,NaN,0.000000,0.000000,-67726.830000
25%,NaN,NaN,NaN,NaN,NaN,NaN,209.000000,325.000000,NaN,NaN,...,2015-04-23 00:00:00,29.000000,NaN,NaN,46.460000,NaN,NaN,5.000000,46.360000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,273.000000,396.000000,NaN,NaN,...,2017-11-23 00:00:00,30.000000,NaN,NaN,197.360000,NaN,NaN,26.000000,196.350000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,338.000000,637.000000,NaN,NaN,...,2020-02-09 00:00:00,32.000000,NaN,NaN,2598.415000,NaN,NaN,236.000000,2575.520000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,559.000000,999.000000,NaN,NaN,...,2023-01-27 00:00:00,6968.000000,NaN,NaN,392036.460000,NaN,NaN,434200.000000,392036.460000,77796.690000
std,NaN,NaN,NaN,NaN,NaN,NaN,101.505109,185.109210,NaN,NaN,...,NaN,53.279154,NaN,NaN,5623.852543,NaN,NaN,2020.962056,5619.812518,607.714232

***Limpieza, Transformación y Normalización de Datos Categóricos***

Para este proceso de limpieza y transformación, se verificó primero el número de valores únicos en cada una de las columnas de tipo Category.

In [191]:
for col in ['developmentname', 'borough', 'accountname', 'location', 'meteramr', 'meterscope', 'fundingsource', 'vendorname', 'rateclass']:
    print(f"Valores únicos en {col}: {df[col].value_counts()}")
    print("\n")

Valores únicos en developmentname: developmentname
FHA REPOSSESSED HOUSES (GROUP V)            4825
SAMUEL (CITY)                               3938
FHA REPOSSESSED HOUSES (GROUP I)            3739
FHA REPOSSESSED HOUSES (GROUP X)            3037
SOUTH JAMAICA II                            2602
                                            ...
EDENWALD                                      11
BRYANT AVENUE-EAST 174TH STREET               10
EAST 152ND STREET-COURTLANDT AVENUE            9
WEST TREMONT AVENUE-SEDGWICK AVENUE AREA       6
FIRST HOUSES                                   1
Name: count, Length: 110, dtype: int64


Valores únicos en borough: borough
FHA                         23460
BROOKLYN                     9072
MANHATTAN                    8208
BRONX                        4908
QUEENS                       4474
STATEN ISLAND                 133
NON DEVELOPMENT FACILITY       60
Name: count, dtype: int64


Valores únicos en accountname: accountname
FHA REPOSSESSED HOUSES (GROUP V)              4759
SAMUEL (CITY)                                 3938
FHA REPOSSESSED HOUSES (GROUP I)              3599
FHA REPOSSESSED HOUSES (GROUP X)              3031
SOUTH JAMAICA II                              2602
                                              ...
ZZ_SOLD_FHA REPOSSESSED HOUSES (GROUP X)         6
ZZ_SOLD_FHA REPOSSESSED HOUSES (GROUP I)         3
ZZ_SOLD_FHA REPOSSESSED HOUSES (GROUP IV)        3
ZZ_SOLD_FHA REPOSSESSED HOUSES (GROUP VII)       3
FIRST HOUSES                                     1
Name: count, Length: 117, dtype: int64


Valores únicos en location: location
BLD 01                 5287
BLD 03                 2472
BLD 02                 2082
BLD 04                 1925
BLD 05                 1452
                       ...
BLD 5                     9
BLD16 - STORE 35-36       4
BLD 7                     1
BLD 8                     1
BLD02 - STORE 6 & 7       1
Name: count, Length: 305, dtype: int64


Valores únicos en meteramr: meteramr
AMR               44292
NONE               5983
Not Applicable       40
Name: count, dtype: int64


Valores únicos en meterscope: meterscope
Community Center       38761
STORE 01-02              898
BLD 01                   787
BLD 05                   723
BLD 02                   706
BLD 04                   693
BLD 03                   616
BLD 06                   376
STORE 01                 351
BLD 14                   340
BLD 18                   338
BLD 17                   335
BLD 13                   331
BLD 07                   319
BLD 09                   315
BLD 08                   312
BLD 15                   276
BLD 12                   274
BLD 16                   268
BLD 10                   173
BLD 11                   166
BLD 22                   139
BLD 02, STORE 04-05      139
BLD 25                   139
BLD 27                   138
BLD 20                   138
BLD 23                   138
BLD 03 - STORE 2-4       137
BLD 21                   136
BLD 1,2                  136
STORE 14-20              136
BLD 19                   131
BLD 02-03                130
STORE 01-06,08-09        129
STORE 23-26              124
BLD 01, STORE 01-03      123
BLD 24                   122
STORE 20-21              120
BLD 26                   118
BLD 01 - STORE 1-2       107
BOILER PLANT             106
STORE 08                  74
STORE 48-50               59
Lot                       34
STORE 16                  31
STORE 18                  31
STORE 02                  27
STORE 06                  18
STORE 12                  18
STORE 13                  18
STORE 10                  13
STORE 22                  13
STORE 11                  12
STORE 04                   8
STORE 05                   6
STORE 20                   4
STORE 17                   2
STORE 21                   2
STORE 05-06                1
Name: count, dtype: int64


Valores únicos en fundingsource: fundingsource
FEDERAL               45422
MIXED FINANCE/LLC1     4132
MHOP                    556
MIXED FINANCE/LLC2      118
NON-DEVELOPMENT          60
SECTION 8                27
Name: count, dtype: int64


Valores únicos en vendorname: vendorname
NEW YORK CITY WATER BOARD    50315
Name: count, dtype: int64


Valores únicos en rateclass: rateclass
BASIC WATER AND SEWER         50211
HOT OR COLD WATER IN STORE       90
COMMERCIAL                        9
WATER-METER                       3
MULTIFAMILY                       2
Name: count, dtype: int64

Tras la verificación, se procedió a renombrar algunos datos. En este caso, se cambió 'Basic Water and Sewer' en la columna rateclass.

In [190]:
df['rateclass'] = df['rateclass'].rename({'Basic Water and Sewer':'BASIC WATER AND SEWER'})

Se volvió a verificar los valores únicos.

In [195]:
print(df['rateclass'].unique())

['BASIC WATER AND SEWER', 'MULTIFAMILY', 'WATER-METER', 'COMMERCIAL', 'HOT OR COLD WATER IN STORE']
Categories (5, object): ['BASIC WATER AND SEWER', 'COMMERCIAL', 'HOT OR COLD WATER IN STORE', 'MULTIFAMILY',
                         'WATER-METER']

Se realizó un conteo de los valores únicos.

In [196]:
print(df['rateclass'].value_counts())

rateclass
BASIC WATER AND SEWER         50211
HOT OR COLD WATER IN STORE       90
COMMERCIAL                        9
WATER-METER                       3
MULTIFAMILY                       2
Name: count, dtype: int64

En la columna meterscope, se renombraron los valores correspondientes a 'Community Center' y 'Lot'.

In [214]:
df['meterscope'] = df['meterscope'].replace({'Community Center':'COMMUNITY CENTER'})
df['meterscope'] = df['meterscope'].replace({'Lot':'LOT'})

<ipython-input-214-c1f76ee6ef3e>:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['meterscope'] = df['meterscope'].replace({'Lot':'LOT'})

Se verificaron los valores únicos.

In [216]:
print(df['meterscope'].unique())

['COMMUNITY CENTER', 'BLD 09', 'BLD 02', 'BLD 04', 'BLD 03', ..., 'STORE 13', 'STORE 16', 'STORE 10', 'STORE 11', 'STORE 12']
Length: 59
Categories (59, object): ['BLD 01', 'BLD 01 - STORE 1-2', 'BLD 01, STORE 01-03', 'BLD 02', ...,
                          'STORE 21', 'STORE 22', 'STORE 23-26', 'STORE 48-50']

Se realizó un conteo de los valores únicos.

In [217]:
print(df['meterscope'].value_counts())

meterscope
COMMUNITY CENTER       38761
STORE 01-02              898
BLD 01                   787
BLD 05                   723
BLD 02                   706
BLD 04                   693
BLD 03                   616
BLD 06                   376
STORE 01                 351
BLD 14                   340
BLD 18                   338
BLD 17                   335
BLD 13                   331
BLD 07                   319
BLD 09                   315
BLD 08                   312
BLD 15                   276
BLD 12                   274
BLD 16                   268
BLD 10                   173
BLD 11                   166
BLD 22                   139
BLD 02, STORE 04-05      139
BLD 25                   139
BLD 27                   138
BLD 20                   138
BLD 23                   138
BLD 03 - STORE 2-4       137
BLD 21                   136
BLD 1,2                  136
STORE 14-20              136
BLD 19                   131
BLD 02-03                130
STORE 01-06,08-09        129
STORE 23-26              124
BLD 01, STORE 01-03      123
BLD 24                   122
STORE 20-21              120
BLD 26                   118
BLD 01 - STORE 1-2       107
BOILER PLANT             106
STORE 08                  74
STORE 48-50               59
LOT                       34
STORE 16                  31
STORE 18                  31
STORE 02                  27
STORE 06                  18
STORE 12                  18
STORE 13                  18
STORE 10                  13
STORE 22                  13
STORE 11                  12
STORE 04                   8
STORE 05                   6
STORE 20                   4
STORE 17                   2
STORE 21                   2
STORE 05-06                1
Name: count, dtype: int64

A continuación, se continuó con el proceso de renombramiento en la columna meteramr, específicamente para los datos marcados como Not Applicable.

In [204]:
df['meteramr'] = df['meteramr'].replace({'Not Applicable':'NOT APPLICABLE'})

<ipython-input-204-e10e0fe17a97>:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['meteramr'] = df['meteramr'].replace({'Not Applicable':'NOT APPLICABLE'})

Se verificaron los valores únicos.

In [206]:
print(df['meteramr'].unique())

['AMR', 'NONE', 'NOT APPLICABLE']
Categories (3, object): ['AMR', 'NONE', 'NOT APPLICABLE']

Se realizó el conteo de los valores únicos.

In [207]:
print(df['meteramr'].value_counts())

meteramr
AMR               44292
NONE               5983
NOT APPLICABLE       40
Name: count, dtype: int64

Por último, para la columna location, se renombraron los valores 'Lot' y, utilizando una expresión regular, se actualizaron los valores que terminan con 'Community Center'.

In [219]:
df['location'] = df['location'].replace({'Lot':'LOT'})
df['location'] = df['location'].str.replace(r'Community Center$', 'COMMUNITY CENTER', regex=True)

Se verificaron los valores únicos.

In [220]:
print(df['location'].unique())

['BLD 02' 'BLD 09' 'BLD 25 - COMMUNITY CENTER' 'BLD 04' 'BLD 03' 'BLD 01'
 'BLD 06' 'BLD 07' 'BLD 15' 'BLD 13' 'BLD 11' 'BLD 08' 'BLD 18' 'BLD 16'
 'BLD 10' 'BLD 14' 'BLD 12' 'BLD 05' 'BLD 17' '202-06 116TH AVENUE'
 '148-13 SUTTER AVENUE' '1502 BEACH 12TH STREET' '114-22 166TH STREET'
 '132-19 BENNETT COURT' '143-03 105TH AVENUE' '104-06 FARMERS BOULEVARD'
 '150-36 116TH ROAD' '118-03 204TH STREET' '178-14 BAISLEY BOULEVARD'
 '194-17 114TH DRIVE' '132-33 218TH STREET' '1504 BEACH 12TH STREET'
 '114-69 145TH STREET' '218-34 119TH AVENUE' '187-24 KEESEVILLE AVENUE'
 '213-24 NASHVILLE BOULEVARD' '117-22 133RD STREET'
 '137-22 WESTGATE STREET' '114-11 130TH STREET' '130-34 147TH STREET'
 '104-33 203RD STREET' '138-11 LINDEN BOULEVARD' '171-28 111TH AVENUE'
 '110-16 207TH STREET' '114-42 139TH STREET' '133-11 148TH STREET'
 '215-32 112TH AVENUE' '126-01 116TH AVENUE' '69-33 BAYFIELD AVENUE'
 '444 TORRY AVENUE' '223-20 FRANCIS LEWIS BOULEVARD' '105-11 171ST PLACE'
 '113-14 196TH STREET' '110-26 216TH STREET' '129-04 142ND STREET'
 '111-32 209TH STREET' '115-52 147TH STREET' '138-17 230TH PLACE'
 '144-23 166TH STREET' '100-38 FRANCIS LEWIS BOULEVARD'
 '188-23 LEWISTON AVENUE' '115-27 208TH STREET' '115-21 135TH STREET'
 '148-06 133RD AVENUE' '209-47 112TH AVENUE' '3027 EDSON AVENUE'
 '99-19 194TH STREET' '197-22 122ND AVENUE' '119-44 INWOOD STREET'
 '190-18 119TH AVENUE' '120-56 233RD STREET' '447 EFFINGHAM AVENUE'
 '107-27 132ND STREET' '113-32 205TH STREET' '119-12 219TH STREET'
 '209-26 NASHVILLE BOULEVARD' '111-20 205TH STREET'
 '186-10 FOCH BOULEVARD' '184-20 EDGEWOOD AVENUE' '353 BERRIMAN STREET'
 '458 ATKINS AVENUE' '367 DOUGLASS STREET' '182 ADELPHI STREET'
 '349 BERRIMAN STREET' '140 EAST 91ST STREET' '110 WAVERLY AVENUE'
 '71 WAVERLY AVENUE' '75 WAVERLY AVENUE' '359 BERRIMAN STREET'
 '341 BERRIMAN STREET' '173-09 143RD ROAD' '165-17 116TH AVENUE'
 '205-20 112TH AVENUE' '124-18 135TH PLACE' '131-41 135TH PLACE'
 '120-26 178TH STREET' '107-29 164TH STREET' '190-15 109TH ROAD'
 '194-47 115TH AVENUE' '116-17 FARMERS BOULEVARD' '144-29 105TH AVENUE'
 '108-15 164TH PLACE' '110-15 169TH STREET' '109-20 212TH STREET'
 '134-17 120TH AVENUE' '137-24 219TH STREET' '163-34 CLAUDE AVENUE'
 '174-36 126TH AVENUE' '102-36 187TH STREET' '115-22 210TH STREET'
 '198-15 116TH AVENUE' '184-12 GALWAY AVENUE' '113-30 200th Street'
 '111-21 LIVERPOOL STREET' '219-30 102ND AVENUE' '112-22 198TH STREET'
 '119-01 146TH STREET' '142-06 FOCH BOULEVARD' '104-28 209TH STREET'
 '133-24 135TH PLACE' '117-37 192ND STREET' '117-11 192ND STREET'
 '113-44 SPRINGFIELD BOULEVARD' '104-14 164TH PLACE' '114-44 198TH STREET'
 '117-24 143RD STREET' '116-31 FARMERS BOULEVARD'
 '105-36 FARMERS BOULEVARD' '180-15 144TH AVENUE' '146-23 176TH STREET'
 '122-28 191ST STREET' '129-37 132ND STREET' '117-11 143RD STREET'
 '118-15 199TH STREET' '114-42 200TH STREET' '219-30 MURDOCK AVENUE'
 '111-50 WITTHOFF STREET' '123-19 145TH STREET' '109-33 130TH STREET'
 '139-10 109TH ROAD' '118-22 197TH STREET' '114-39 203RD STREET'
 '198-16 116TH AVENUE' '220-23 135TH AVENUE' '106-10 215TH STREET'
 '111-37 144TH STREET' '111-46 156TH STREET' '214-15 HOLLIS AVENUE'
 '114-54 INWOOD STREET' '153 BEACH 59TH STREET' '138-20 102ND AVENUE'
 '174-16 111TH AVENUE' '131-27 135TH PLACE' '188-56 120TH ROAD'
 '110-05 225TH STREET' '114-34 146TH STREET' '118-35 153RD STREET'
 '104-10 212TH STREET' '191-18 120TH AVENUE' '111-27 207TH STREET'
 '217-09 110TH AVENUE' '119-55 177TH STREET' '117-17 204TH STREET'
 'BLD 03 - COMMUNITY CENTER' 'BLD 35' 'BLD 29' 'BLD 09 - COMMUNITY CENTER'
 'LOT' 'BLD 08 - COMMUNITY CENTER' 'BLD 14&16' 'BLD 28'
 'BLD 26 - COMMUNITY CENTER' 'BLD 30' 'BLD 23' 'BLD 25' 'BLD 44' 'BLD 48'
 'BLD 32' 'BLD 27' 'BLD 19' 'BLD 24' 'BLD 43' 'BLD 42' 'BLD 39' 'BLD 41'
 'BLD 31 - COMMUNITY CENTER' 'BLD 20' 'BLD 22' 'BLD 26' 'BLD 21'
 'BLD 07 - COMMUNITY CENTER' 'BLD 24 - COMMUNITY CENTER'
 'BLD 21 - COMMUNITY CENTER' 'BLD 1' 'BLD 2' '115-21 200TH STREET'
 '213-34 NASHVILLE BOULEVARD' 'BLD 51' '111-19 196TH STREET' 'BLD 02-03'
 'BLD 05 - COMMUNITY CENTER' 'BLD 3' '100-40 202ND STREET'
 '111-33 205TH STREET' '177-48 BAISLEY BOULEVARD' '115-69 224TH STREET'
 '116-02 139TH STREET' '133-17 149TH STREET' '223-19 111TH AVENUE'
 '114-26 208TH STREET' '123-25 152ND STREET' '109-40 176TH STREET'
 '114-18 INWOOD STREET' '113-10 201ST STREET' '190-17 115TH DRIVE'
 '104-17 187TH STREET' '111-33 207TH STREET' '131-68 225TH STREET'
 '109-11 208TH STREET' '130-15 135TH PLACE' '168-32 119TH AVENUE'
 '177-19 120TH AVENUE' '210-35 113TH AVENUE' '133-18 134TH STREET'
 '105 EAST 45TH STREET' '145-03 123RD AVENUE' '190-17 109TH ROAD'
 '89-24 168TH PLACE' '146-10 123RD AVENUE' '144-41 158TH STREET'
 '114-34 149TH STREET' '129-41 135TH STREET' '105-12 220TH STREET'
 '202-02 111TH AVENUE' '115-32 173RD STREET' '186-16 104TH AVENUE'
 '82 EAST 91ST STREET' '107-16 REMINGTON STREET' '107-34 PRINCETON STREET'
 '107-38 139TH STREET' '115-41 147TH STREET' '556 SCHENECTADY AVENUE'
 '133-16 VAN WYCK EXPRESSWAY' '221-02 131ST AVENUE' '114-70 211TH STREET'
 '147-06 SUTTER AVENUE' '171-48 119TH ROAD' '91-09 138TH PLACE'
 '110-17 172ND STREET' '190-48 111TH ROAD' '109-38 131ST STREET'
 '186-20 FOCH BOULEVARD' '133-22 223RD STREET' '101-64 132ND STREET'
 '134-19 111TH AVENUE' '978 LENOX ROAD' '110-39 164TH PLACE'
 '182-09 147TH AVENUE' '218-38 140TH AVENUE' '167-08 110TH AVENUE'
 '145-07 167TH STREET' '129-59 135TH STREET' '190-41 112TH AVENUE'
 '131-15 SUTTER AVENUE' '228-39 MENTONE AVENUE' '113-20 209th Street'
 '236-11 119TH AVENUE' '168-31 118TH ROAD' '195-09 119TH AVENUE'
 '129-23 135TH PLACE' '190-01 118TH ROAD' '111-21 212TH STREET'
 '192-07 104TH AVENUE' '117-31 135TH STREET' '80-44 162ND STREET'
 '89-55 208TH STREET' '99-19 203RD STREET' '197-18 116TH AVENUE'
 '150-22 118TH AVENUE' '94-29 211TH STREET' '109-16 210TH STREET'
 '145-12 229TH STREET' '112-23 208TH STREET' '130-16 149TH STREET'
 '136-15 221ST STREET' '142-21 129TH AVENUE' '102-47 187TH STREET'
 '193-10 WOODHULL AVENUE' '117-27 204TH STREET' '198-14 119TH AVENUE'
 '121-28 BENTON STREET' 'BLD02 - STORE 6 & 7' 'BLD 8' 'BLD 7' 'BLD 5'
 'BLD 11 - STORE 10' 'BLD 45' 'BLD 33' 'BLD 31' 'BLD 34' 'BLD 37' 'BLD 46'
 'BLD 38' 'BLD16 - STORE 35-36' '1091 LONGFELLOW AVE']

Se realizó el conteo de los valores únicos.

In [221]:
print(df['location'].value_counts())

location
BLD 01                 5287
BLD 03                 2472
BLD 02                 2082
BLD 04                 1925
BLD 05                 1452
                       ...
BLD 5                     9
BLD16 - STORE 35-36       4
BLD 7                     1
BLD02 - STORE 6 & 7       1
BLD 8                     1
Name: count, Length: 305, dtype: int64

# **5. Análisis Descriptivo de Datos**

## - Preguntas a responder con el AD
## - Explicación de Estadísticas Básicas Aplicadas, Visualización de Datos con Gráficos, y Resumen de las respuestas

# **6. Análisis Exploratorio de los Datos**

## - Preguntas a responder
## - Estadísticas Empleadas, visualización y Resumen de las respuestas encontradas.

RECUERDA AGREGAR UNA O VARIAS CELDAS DE CÓDIGO

# **7. Análisis Predictivo**

## - Preprocesamiento para Análisis Predictivo: Problemas, Técnicas y Código

## - Modelado Predictivo
### - Modelo elegido y parámetros
### - Entrenamiento y Evaluación
## - Resultados
RECUERDA AGREGAR UNA O VARIAS CELDAS DE CÓDIGO

# **8. Conclusiones y Trabajos Futuros**

## - Resumen del trabajo realizado, hallazgos y posibles mejoras

RECUERDA AGREGAR UNA O VARIAS CELDAS DE CÓDIGO