<a href="https://colab.research.google.com/github/jonathanahc/Proyecto/blob/main/ProyectoProgADAP_255497.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto de Programación para Analítica Descriptiva y Predictiva**
## Nombre del Proyecto: Consumo y Costo del Agua en Nueva York
## Grupo: A
## Autor: Jonathan Adrian Herrera Castro
## Matrícula: 255497
## Fecha: 19/02/2025

# **1. Introducción**

## **- Descripción del problema:** el objetivo de este análisis es examinar el consumo de agua en la ciudad de Nueva York y su costo asociado, con el fin de identificar tendencias y algunos factores que influyen en su variación. Se analizarán patrones de consumo en distintas zonas y sectores de febrero del 2013 hasta 2023.

## **- Objetivo del análisis:** comprender el consumo y costo del agua en Nueva York para identificar patrones y factores que afectan su variabilidad. Este análisis tiene como impacto en el tema de la optimización el uso del agua, la planificación de tarifas y establecer algunas estrategias de sostenibilidad.

## **- Fuente de datos:** los datos utilizados en este análisis provienen de NYC Open Data, una plataforma que ofrece bases de datos de acceso público. La información fue proporcionada por la Autoridad de Vivienda de la Ciudad de Nueva York (NYCHA, por sus siglas en inglés).

# **2. Captura y Carga de Datos**

**En esta fase de carga de datos, se emplearon diversas librerías que facilitaron el proceso de carga del archivo. La primera librería utilizada fue google.colab, la cual establece la conexión a la carpeta Drive donde se encuentra almacenado el archivo.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Después, se importó la librería Pandas.**

In [62]:
import pandas as pd
import re

**Con esta sentencia, se cargó el archivo CSV en un dataframe sin presentar inconvenientes durante el proceso.**

---

In [63]:
df = pd.read_csv('/content/drive/MyDrive/ProyectoProgramacion/Water_Consumption_And_Cost__2013_-_Feb_2023__20250216.csv', engine="python")

**Una vez cargado el archivo, se validó que los datos se mostrarán correctamente.**

In [64]:
df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,HOWARD AVENUE,BROOKLYN,HOWARD AVENUE,BLD 02,AMR,NaN,339.0,782,K033900,FEDERAL,...,04/23/2020,31.0,E11310572,N,2945.22,Basic Water and Sewer,Yes,285,2945.22,0.0
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,01/26/2020,34.0,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0.0
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,02/24/2020,29.0,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0.0
3,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,03/23/2020,28.0,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0.0
4,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,04/23/2020,31.0,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0.0

**Utilizando la función Shape, se realizó un conteo del número de observaciones y variables del dataframe.**

In [65]:
print(f"Observaciones: {df.shape[0]}, Variables: {df.shape[1]}")

Observaciones: 50315, Variables: 25

**Después del conteo, se utilizó la función Info con la cual se obtuvó la información sobre las columnas, incluyendo el nombre, conteo de valores no nulos y el tipo de dato de cada una.**

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50315 entries, 0 to 50314
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Development Name     50255 non-null  object
 1   Borough              50315 non-null  object
 2   Account Name         50315 non-null  object
 3   Location             49487 non-null  object
 4   Meter AMR            49805 non-null  object
 5   Meter Scope          12782 non-null  object
 6   TDS #                50255 non-null  float64
 7   EDP                  50315 non-null  int64
 8   RC Code              50315 non-null  object
 9   Funding Source       50239 non-null  object
 10  AMP #                50193 non-null  object
 11  Vendor Name          50315 non-null  object
 12  UMIS BILL ID         50315 non-null  int64
 13  Revenue Month        50315 non-null  object
 14  Service Start Date   50308 non-null  object
 15  Service End Date     50308 non-null  object
 16  # days               50308 non-null  float64
 17  Meter Number         50315 non-null  object
 18  Estimated            50315 non-null  object
 19  Current Charges      50315 non-null  float64
 20  Rate Class           50279 non-null  object
 21  Bill Analyzed        50315 non-null  object
 22  Consumption (HCF)    50315 non-null  int64
 23  Water&Sewer Charges  50315 non-null  float64
 24  Other Charges        50315 non-null  float64
dtypes: float64(5), int64(3), object(17)
memory usage: 9.6+ MB

#**3.Transformación y Preprocesamiento - Data Wrangling**

In [67]:
df.describe()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (HCF),Water&Sewer Charges,Other Charges
count,50255.000000,50315.000000,5.031500e+04,50308.000000,50315.000000,50315.000000,50315.000000,50315.000000
mean,258.871794,463.205764,6.597390e+06,33.182953,2150.221066,224.291066,2140.327436,9.893631
std,101.467018,185.109210,2.671463e+06,53.181840,5623.852543,2020.962056,5619.812518,607.714232
min,1.000000,200.000000,2.576038e+06,-335.000000,-1748.510000,0.000000,0.000000,-67726.830000
25%,209.000000,325.000000,4.132859e+06,29.000000,46.460000,5.000000,46.360000,0.000000
50%,273.000000,396.000000,6.355677e+06,30.000000,197.360000,26.000000,196.350000,0.000000
75%,338.000000,637.000000,8.627548e+06,32.000000,2598.415000,236.000000,2575.520000,0.000000
max,559.000000,999.000000,1.217584e+07,6968.000000,392036.460000,434200.000000,392036.460000,77796.690000

**Columnas**

In [68]:
df.dtypes

Development Name        object
Borough                 object
Account Name            object
Location                object
Meter AMR               object
Meter Scope             object
TDS #                  float64
EDP                      int64
RC Code                 object
Funding Source          object
AMP #                   object
Vendor Name             object
UMIS BILL ID             int64
Revenue Month           object
Service Start Date      object
Service End Date        object
# days                 float64
Meter Number            object
Estimated               object
Current Charges        float64
Rate Class              object
Bill Analyzed           object
Consumption (HCF)        int64
Water&Sewer Charges    float64
Other Charges          float64
dtype: object

In [69]:
df.columns = df.columns.str.lower().str.replace(r"\W+", "", regex=True)

In [70]:
df.columns

Index(['developmentname', 'borough', 'accountname', 'location', 'meteramr',
       'meterscope', 'tds', 'edp', 'rccode', 'fundingsource', 'amp',
       'vendorname', 'umisbillid', 'revenuemonth', 'servicestartdate',
       'serviceenddate', 'days', 'meternumber', 'estimated', 'currentcharges',
       'rateclass', 'billanalyzed', 'consumptionhcf', 'watersewercharges',
       'othercharges'],
      dtype='object')

In [83]:
for col in df.columns:
    print(f"{col}      !! {df[col].memory_usage(deep=True)}")

developmentname      !! 63306
borough      !! 51214
accountname      !! 63999
location      !! 131680
meteramr      !! 50747
meterscope      !! 56408
tds      !! 402652
edp      !! 402652
rccode      !! 61911
fundingsource      !! 51032
amp      !! 56070
vendorname      !! 50637
umisbillid      !! 402652
revenuemonth      !! 402652
servicestartdate      !! 402652
serviceenddate      !! 402652
days      !! 402652
meternumber      !! 186260
estimated      !! 50671
currentcharges      !! 402652
rateclass      !! 50983
billanalyzed      !! 50681
consumptionhcf      !! 402652
watersewercharges      !! 402652
othercharges      !! 402652

In [75]:
df['tds'] = df['tds'].fillna(0).astype(int)
df['days'] = df['days'].fillna(0).astype(int)
df['servicestartdate'] = pd.to_datetime(df['servicestartdate'], format='%m/%d/%Y', errors='coerce')
df['serviceenddate'] = pd.to_datetime(df['serviceenddate'], format='%m/%d/%Y', errors='coerce')
df['revenuemonth'] = pd.to_datetime(df['revenuemonth'], format='%Y-%m')

In [76]:
object_columns = df.select_dtypes(include=['object']).columns

for column in object_columns:
    df[column] = df[column].astype('category')

In [78]:
for col in df.columns:
    print(f"Columna: {col}, Uso de memoria: {df[col].memory_usage(deep=True)} bytes")

Columna: developmentname, Uso de memoria: 63306 bytes
Columna: borough, Uso de memoria: 51214 bytes
Columna: accountname, Uso de memoria: 63999 bytes
Columna: location, Uso de memoria: 131680 bytes
Columna: meteramr, Uso de memoria: 50747 bytes
Columna: meterscope, Uso de memoria: 56408 bytes
Columna: tds, Uso de memoria: 402652 bytes
Columna: edp, Uso de memoria: 402652 bytes
Columna: rccode, Uso de memoria: 61911 bytes
Columna: fundingsource, Uso de memoria: 51032 bytes
Columna: amp, Uso de memoria: 56070 bytes
Columna: vendorname, Uso de memoria: 50637 bytes
Columna: umisbillid, Uso de memoria: 402652 bytes
Columna: revenuemonth, Uso de memoria: 402652 bytes
Columna: servicestartdate, Uso de memoria: 402652 bytes
Columna: serviceenddate, Uso de memoria: 402652 bytes
Columna: days, Uso de memoria: 402652 bytes
Columna: meternumber, Uso de memoria: 186260 bytes
Columna: estimated, Uso de memoria: 50671 bytes
Columna: currentcharges, Uso de memoria: 402652 bytes
Columna: rateclass, Uso de memoria: 50983 bytes
Columna: billanalyzed, Uso de memoria: 50681 bytes
Columna: consumptionhcf, Uso de memoria: 402652 bytes
Columna: watersewercharges, Uso de memoria: 402652 bytes
Columna: othercharges, Uso de memoria: 402652 bytes

In [79]:
df.dtypes

developmentname            category
borough                    category
accountname                category
location                   category
meteramr                   category
meterscope                 category
tds                           int64
edp                           int64
rccode                     category
fundingsource              category
amp                        category
vendorname                 category
umisbillid                    int64
revenuemonth         datetime64[ns]
servicestartdate     datetime64[ns]
serviceenddate       datetime64[ns]
days                          int64
meternumber                category
estimated                  category
currentcharges              float64
rateclass                  category
billanalyzed               category
consumptionhcf                int64
watersewercharges           float64
othercharges                float64
dtype: object

**Valores nulos**

In [80]:
df.isnull().sum()

developmentname         60
borough                  0
accountname              0
location               828
meteramr               510
meterscope           37533
tds                      0
edp                      0
rccode                   0
fundingsource           76
amp                    122
vendorname               0
umisbillid               0
revenuemonth             0
servicestartdate         7
serviceenddate           7
days                     0
meternumber              0
estimated                0
currentcharges           0
rateclass               36
billanalyzed             0
consumptionhcf           0
watersewercharges        0
othercharges             0
dtype: int64

# **4. Análisis Descriptivo de Datos**

## - Preguntas a responder con el AD
## - Explicación de Estadísticas Básicas Aplicadas, Visualización de Datos con Gráficos, y Resumen de las respuestas

# **5. Análisis Exploratorio de los Datos**

## - Preguntas a responder
## - Estadísticas Empleadas, visualización y Resumen de las respuestas encontradas.

# **6. Análisis Predictivo**

## - Preprocesamiento para Análisis Predictivo: Problemas, Técnicas y Código

## - Modelado Predictivo
### - Modelo elegido y parámetros
### - Entrenamiento y Evaluación
## - Resultados

# **7. Conclusiones y Trabajos Futuros**

## - Resumen del trabajo realizado, hallazgos y posibles mejoras